# Build Tools
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
 
target/
!.mvn/wrapper/maven-wrapper.jar
 
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
 
# Vue
**/node_modules
**/.idea
dist

# Python
**/__pycache__/